body {
  background-color: #f9f7fe;
  font-family: "Gill Sans", sans-serif;
}

p {
  text-align: center;
}

h1 {
  margin: 0;
}

h4 {
  margin: 0;
  font-weight: lighter;
}

h3 {
  margin: 0;
  font-weight: bold;
  display: inline;
}

.sky-condition {
  text-transform: capitalize;
}

.city-unsplash {
  color: rgb(158, 192, 255);
}

input[type="text"] {
  margin: 40px 0px 20px 70px;
  width: 45%;
  padding: 12px 20px;
  border: thin double;
  border-color: rgb(158, 192, 255);
  border-radius: 3px;
}
input[type="submit"] {
  background: rgb(158, 192, 255);
  color: white;
  border: 1px solid rgb(158, 192, 255);
  border-radius: 3px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-size: 12px;
  font-weight: lighter;
  letter-spacing: 4px;
  margin: 20px 2px;
  padding: 12px 10px;
  transition: all 200ms ease-in-out;
}
input[type="submit"]:hover {
  background: white;
  color: rgb(158, 192, 255);
  cursor: pointer;
}

.tempType {
  position: relative;
  font-size: 15px;
  top: -32px;
  left: 40px;
  color: black;
}

.unit-symbol-active {
  text-decoration: none;
  color: rgb(255, 255, 255);
  cursor: default;
}

.unit-symbol {
  text-decoration: none;
}

.footer-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
  color: blue;
}

.temperature-primary {
  font-weight: 400;
}

.container-primary {
  display: block;
  background: #fff;
  margin: 20px auto;
  width: 800px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  font-weight: lighter;
}

.container-secondary {
  display: block;
  margin: 20px auto;
  width: 625px;
  height: 400px;
  border: thin double;
  border-radius: 3px;
  padding: 10px 10px 40px 10px;
  border-color: rgb(255, 255, 255);
  font-weight: lighter;
  background-size: cover;
  background-position: center;
}

.container-center {
  display: block;
  margin: 310px 0px 0px auto;
  width: 625px;
  border: thin double;
  border-radius: 3px;
  border-color: transparent;
  font-weight: lighter;
  background: rgba(110, 110, 110, 0.1);
  backdrop-filter: blur(5px);
  color: white;
}

.weather-information {
  display: flex;
  align-items: center;
}

.column-1,
.column-2,
.column-3 {
  display: inline-block;
  width: 30%;
  margin: 5px 5px;
  padding-left: 15px;
  align-items: center;
}

.column-2,
.column-3 {
  display: inline-block;
  width: 15%;
  padding-right: 20px;
}

.column-4 {
  display: inline-block;
  width: 20%;
  padding-right: -20px;
}

.container-bottom {
  display: block;
  margin: 20px auto;
  width: 650px;
  border: thin double;
  border-radius: 3px;
  padding: 20px 10px 40px 10px;
  border-color: transparent;
  font-weight: lighter;
}

.column-weekday {
  display: inline-block;
  margin-left: 2px;
  width: 51px;
  border-radius: 3px;
  padding: 10px 12px;
  border-color: transparent;
  font-weight: lighter;
  background: whitesmoke;
}

.weather-icon {
  width: 40px;
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
}

.footer {
  padding: 20px 20px 10px 20px;
  letter-spacing: 1px;
  font-size: 15px;
  text-align: center;
  color: #fff;
  font-weight: lighter;
  background: rgb(158, 192, 255);
  letter-spacing: 1px;
}

.city-search {
  padding: 40px 20px 20px 20px;
  text-align: center;
}
